* {
    box-sizing: border-box;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.simply {
    background-color: beige;
    border-top: 2px solid rgb(184, 177, 0);
    padding: 1em;
    text-align: center;
    color: rgb(14, 114, 104);
}

span {
    font-weight: bold;
}

main {
    margin-right: 20em;
    margin-left: 20em;
}

h1 {
    text-align: center;
    padding: 2em;
}

.fonte {
    color: grey;
    text-align: center;
}

.focaccia {
    text-align: center;
}

img {
    border-radius: 1em;
}

.featured {
    background-color: beige;
    border-left: 2px solid rgb(184, 177, 0);
    padding: 1em;
}

.p1 {
    color: orange;
}

.subtitle {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 0.10em solid aquamarine;
}

.ingredients, li {
    padding: 0.5em;
}

li p {
    margin-top: 0.3em;
}